* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 30px;
}

body {
    font-family: 'circular-book', Arial, Tahoma, sans-serif;
    color: #031b4e;
    display: block;
    padding: 0px 2px;
    max-width: 100%;
}

.fondo1 {
    background-image: url(img/fondo\ cielo.png);
}

.fondo2 {
    background-image: url(img/fondo\ nubes.png);
}

.fondo3 {
    background-image: url(img/fondo\ arboles.png);
}

.fondo4 {
  background-color: #586c6e;
  border-radius: 6px;
}

h1 {
    font-family: 'Gochi Hand';
    font-size: 1.1rem;
    line-height: 1.4;
}

h2 {
    font-family: 'Gochi Hand';
    font-size: 0.8rem;
    margin: 2px 2px;
    line-height: 1.4;
}

h3 {
    font-family: 'Gochi Hand';
    font-size: 0.8rem;
    line-height: 1.4;
}

.wrapHeader {
    font-family: 'circular-bold', sans-serif;
    font-size: 0.5rem;
    line-height: 1.5;
    color: rgba(3, 27, 78, 0.8);
    padding: 20px 0;
}

.container {
    max-width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 5px 0px;
    position: relative;
    justify-content: center;
}

@keyframes movimientoInicial {
  0%{transform: translateY(0);}
  10%{transform: rotate(180deg);}
  15%{transform: rotate(180deg);}
  50%{transform: translateY(900px);}
  100%{transform: translateY(0);}
  
}

.imgContainerSuperior {
    padding: 20px 0px 20px 20px;
    filter:drop-shadow(1px 1px 3px #7c0454);
    opacity: 0.9;
}

.imgContainerSuperior:hover {
  filter:drop-shadow(2px 2px 1px #ad62a1);
  opacity: 1;
  animation: logoPcMovimiento 0.5s ease 10;
}

.imgContainerInferior {
  padding: 20px 0px 20px 20px;
  filter:drop-shadow(1px 1px 3px #7c0454);
  opacity: 0.9;
}

.imgContainerInferior:hover {
  filter:drop-shadow(2px 2px 1px #ad62a1);
  opacity: 1;
  animation: logoPcMovimiento 0.5s ease 10;
}

.fotos {
    display: block;
    max-width: 50px;
}

 .spanFooter {
    font-size: 0.6rem;
    padding-left: 1%;
    color: #ffffff;
    text-shadow: 0 0 80px #000000,0 0 30px #b7d3b7,0 0 6px #000000;
 
 }

 .spanHeader {
    font-size: 0.6rem;
    padding-left: 1%;
 }

  .cuadro {
    border: 5px solid black;
    border-radius: 6px;
  }

  .cuadroChico {
    max-width: 95%;
    margin: 0 auto;
  }

  .cuadroTexto {
    width: 50%;
  }

  .cuadroIzq {
    padding: 0px 2px;
  }

  .cuadroDer {
    margin-left: 1%;
  }

  .logo {
    border: 3px solid black;
    border-radius: 100%;
    margin: 5px 5px;
    padding: 3px 3px;
    float: left;
    overflow: hidden;
  }

  .logoLinkedin {
    background-color: #0a66c2;
  }

  .logoGithub {
    background-color: #ffffff;
  }

  .logoCurriculum {
    background-color: #ffffff;
  }

  .logoFreeCodeCamp {
    background-color: #492c14;
  }

  .logo:hover {
    opacity: 50%;
  }

  .fotoPerfil {
    display: block;
    max-width: 150px;
  }

  .fotoOpacity {
    opacity: 0.6;
  }

  .fotoOpacity:hover {
    opacity: 1;
    border: 5px solid rgb(124, 243, 213);
    border-radius: 6px;
  }

  @keyframes logoPcMovimiento {
    0%{transform: rotate3d(0, 0, 0, 0deg);}
    49%{transform: perspective(1rem);}
    50%{transform: rotate3d(1, 0, 1, 3deg);}
    99%{transform: perspective(0.5rem);}
    100%{transform: rotate3d(0, 1, 1, -3deg);}
  }

  .logoPC {
    max-width: 150px;
  }

  #pcPixelArt {
    position: relative;
    width: 150px; /* ajusta el tamaño según tu imagen */
    height: 150px;
    overflow: hidden;
  }
  
  #pcPixelArt img {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #ojoIzqPixelArt {
    top: 30px; /* ajusta la posición según tu imagen */
    left: 40px;
  }

  #ojoDerPixelArt {
    top: 30px; /* ajusta la posición según tu imagen */
    left: 40px;
  }

  #pcPixelArt2 {
    position: relative;
    width: 150px; /* ajusta el tamaño según tu imagen */
    height: 150px;
    overflow: hidden;
  }
  
  #pcPixelArt2 img {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #ojoIzqPixelArt2 {
    top: 30px; /* ajusta la posición según tu imagen */
    left: 40px;
  }

  #ojoDerPixelArt2 {
    top: 30px; /* ajusta la posición según tu imagen */
    left: 40px;
  }  

  .containerOfProjects {
    justify-content: center;
  }

  .botones {
    border: 3px solid black;
    border-radius: 6px;
    padding: 2px 2px;
    margin: 5px 5px;
    max-width: max-content;
    background-color: #ffffff;
  }

  .btn {
    font-family: 'Yatra One';
    font-size: 0.8rem;
    text-decoration: none;
    display: inline-block;
    border: 3px solid black;
    border-radius: 6px;
  }

  .btn:hover {
    background-color: #3e5bff;
    color: #ffffff;
  }

  .project1 {
    background: #13cc94;
    color: #000000;
  }

  .project2 {
    background: #c7da1e;
    color: #000000;
  }

  .project3 {
    background: #ad0d8b;
    color: #000000;
  }

  .project4 {
    background: #ca7026;
    color: #000000;
  }

  .project5 {
    background: #63db4b;
    color: #000000;
  }

  li {
    list-style: none;
  }

  @media screen and (max-width:700px) {
    .container {
      flex-direction: column;
    }

    .cuadroDer {
      margin: 8px 0;
    }
    
    .wrapHeader .container {
      flex-direction: row;
    }

    .cuadroTexto {
      width: 90%;
    }

    .cuadroOfProjects {
      max-width: 90%;
    }

    .titulo {
      width: 50%;
    }

    h1 {
      font-family: 'Gochi Hand';
      font-size: 0.9rem;
    }
  
    h2 {
      font-size: 0.7rem;
    }
  
    h3 {
      font-size: 0.7rem;
    }

    .logoPC {
      max-width: 120px;
    }
  
    #pcPixelArt {
      position: relative;
      width: 120px; /* ajusta el tamaño según tu imagen */
      height: 120px;
      overflow: hidden;
    }
    
    #pcPixelArt img {
      position: absolute;
      top: 0;
      left: 0;
    }
    
    #ojoIzqPixelArt {
      top: 0px; /* ajusta la posición según tu imagen */
      left: 0px;
    }
  
    #ojoDerPixelArt {
      top: 0px; /* ajusta la posición según tu imagen */
      left: 0px;
    }
    
  }